html {
    background-color: black;
    background-image: url(memes/terry.gif);
}

.row {
    width: 23%;
    position: relative;
    margin: 0.3%;
    border: 0px;
    padding: 5px;
    float: left;
}

.row img {
    margin: 0px;
    height: 100%;
    width: 100%;
    margin-bottom: 5%;
    object-fit: contain;
    border-radius: 30px;
}